* {
    font-family: Helvetica;
    user-select: none;
}
h1 {
    font-weight: bold;
    margin-top: 0px;
    padding: 5px;
}
h4 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
}
hover-tip {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #eda4ff63;
    border: 5px ridge #93b5d366;
    box-sizing: border-box;
}
chess-piece {
    position: absolute;
    height: 100px;
    width: 100px;
    display: inline-block;
    z-index: 20;
}
chess-piece.knight {
    background-image: url("pieces/knight.png")
}
chess-piece.pedestrian {
    background-image: url("pieces/pedestrian.png");
}
chess-piece.monkey {
    background-image: url("pieces/monkey.png");
}
chess-piece.goose {
    background-image: url("pieces/goose.png");
}
chess-piece.cobra {
    background-image: url("pieces/cobra.png")
}
chess-piece.buffalo {
    background-image: url("pieces/buffalo.png");
}
.enemy {
    filter: hue-rotate(94deg);
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}
.chess-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
html {
    width: 100%;
    height: 100%;
}
#board {
    width: 700px;
    height: 700px;
    background-size: cover;
    border-style: solid;
}
#board {
    background-image: url("board.png");
}
img.legal {
    z-index: 10;
    height: 100px;
    width: 100px;
    position: absolute;
}
p#moves {
    margin-left: 10px;
    margin-top: 50px;
    width: 200px;
    color: #FFFFFF;
    background: -webkit-linear-gradient(#0000FF62, #FFFFFF22);
    padding: 5px;
    border-radius: 1px;
    transition-duration: 0.3s;
    overflow-y: hidden;
    opacity: 100%;
    height: 590px;
}
p#moves:empty {
    opacity: 0%;
    background: -webkit-linear-gradient(#0000000, #0000000);
}
.a-flex {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}
