* {
    font-family: Helvetica;
}
h1 {
    font-weight: bold;
}
p.inline {
    display: inline;
}
input.check {
    width: calc(1em + 6px);
    transform: translateY(4px);
    height: calc(1em + 6px);
}
#thanks-for-signing-in {
    display: none;
}
#pls-sign-in {
    display: none;
}
